@import '~bootstrap/scss/bootstrap';
$alt-color: #000000;
$body-bg-color: $gray-200;
$font-color: $light;

.title {
  background-color: $alt-color;
  color: $font-color;
  padding-top: 40px;
  margin-top: -40px;
}

.topPadding {
  padding-top: 40px;
}

.border {
  display: block;
  padding: 20px;
}

#sign-up {
  display: none;
}

#sign-out-button {
  display: none;
}

#create-game-button {
  display: none;
}

#game {
  display: none;
}

.box {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $alt-color;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
  font-size: 60px;
}

.box2 {
  align-items: center;
  background-color: $white;
  border: 1px solid $alt-color;
  color: $black;
  display: flex;
  height: 80px;
  justify-content: center;
}

.alt-color {
  background-color: $alt-color;
}

.b-3 {
  padding: $spacer;
}
